-#  This file is app/views/movies/index.html.haml
%h1 Topical Memory System

= form_tag movies_path, :method => :get, :id => 'ratings_form' do
  = hidden_field_tag "title_sort", true if @title_header
  = hidden_field_tag ":release_date_sort", true if @date_header
  Include: 
  - @all_ratings.each do |rating|
    = rating
    = check_box_tag "ratings[#{rating}]", 1, @selected_ratings.include?(rating), :id => "ratings_#{rating}"
  = submit_tag 'Refresh', :id => 'ratings_submit'

%table#movies
  %thead
    %tr
      %th Category
      %th Reference
      %th Text
  %tbody
    - @movies.each do |movie|
      %tr
        %td= movie.rating
        %td= movie.title
        %td= movie.release_date
      
